$base-font-size:              16px;
$base-line-height:            8px;

$grid-columns:                4;
$max-width:                   40em;

$font-weight-normal-normal:   400;
$font-weight-normal-bold:     600;
$font-weight-title-normal:    400;
$font-weight-title-bold:      700;

$font-family-normal:          'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-normal-fallback: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-code:            'Source Code Pro', Monaco, Consolas, 'Lucida Console', monospace;
$font-family-code-fallback:   Monaco, Consolas, 'Lucida Console', monospace;
$font-family-title:           Dosis, 'Arial Narrow', Arial, sans-serif;
$font-family-title-fallback:  'Arial Narrow', Arial, sans-serif;
